/*
- Icons
- Back2Top
- Pop up
- SVG
- Btn
- Tooltip
- Img
- Cards
- Accordion
- Overlay
- Tabs
- Sidenav / map
- Slider
- Modal
- Forms
*/



/* Icons
----------------------------------*/
.icon {
   width: 24px;
   height: 24px;
   fill: none;
   stroke-linecap: round;
   stroke: var(--sh-offblack);
   stroke-width: 1px;
   transition: 500ms stroke ease-out;
}

.icon:hover {
   stroke: var(--sh-lightgrey);
}

.icon--gold {
   stroke: var(--clr-gold);
   transition: 500ms stroke ease-out;
}

.icon--search {
   width: 34px;
   height: 34px;
   margin-bottom: .5rem;
   stroke-width: .9px;
   stroke: var(--sh-offblack);
   transition: 500ms stroke ease-out;
}

.icon--gold:hover,
.icon--gold:focus {
   stroke: white;
}

.icon-page,
.shade-page {
   display: none;
}

.icon-set .icon {
   width: 1.3rem;
   stroke: 1.1px;
   margin: 0 .75rem;
}

.icons--section {
   margin: 1.5rem 0 3rem 0;
}

.icon--download::after {
      content: url(../assets/SVG/icon-download-g.svg);
      display:block;
      width: 19px;
      position: absolute;
      top: -4px;
      right:-26px;
}

.icon--footer {
   stroke:var(--clr-gold);
   cursor: pointer;
}

.icon--footer:hover {
   stroke: var(--sh-offwhite);
}


/* Back 2 Top
----------------------------------*/
#back2Top {
   display: none;
   width: 3rem;
   height: 3rem;
   border-radius: 1.5rem;
   position: fixed;
   bottom: 1rem;
   left: 1rem;
   display: flex;
   align-items: center;
   justify-content: center;
   background: radial-gradient(rgba(250, 250, 250, 1)50%, rgba(220, 220, 220, 1) 90%);
   cursor: pointer;
   z-index: 10;
}


/* SVG
----------------------------------*/
.svg-line {
   stroke: var(--sh-lightgrey);
   stroke-width: .5px;
}

.svg-fill {
   fill: white;
}

.svg-fill-none {
   fill: none;
}



/* Buttons
----------------------------------*/
.btn {
   font-family: var(--ff-pri);
   font-size: .7rem;
   text-transform: uppercase;
   letter-spacing: .075rem;
   outline: none;
   cursor: pointer;
   transition: 500ms all ease-out;
   border: .75px solid var(--clr-gold);
}

.btn--hide  {
   padding: 0;
   margin: 0;
   border: none;
   background-color: inherit;
   cursor: pointer;
}

.btn--form {
   font-family: var(--ff-pri);
   font-size: .85rem;
   letter-spacing: .15em;
   height: 2.5rem;
   padding: 0 1rem;
   background-color: inherit;
   color: var(--clr-gold);
   transition: all 1s ease-out;
}

.btn--search {
   font-family: var(--ff-pri);
   font-size: .85rem;
   letter-spacing: .15em;
   height: auto;
   padding: 0;
   border: 0;
   background-color: inherit;
   transition: all 1s ease-out;
}

.btn--form:hover {
   color: white;
   border: 1px solid white;
}

.btn--rounded {
   display: inline-block;
   padding: .5rem 1.25rem .5rem 1.75rem;
   border-radius: 1rem;
   background-color: var(--sh-offwhite);
   font-size: .7rem;
   margin: 3rem 0 4rem;
   border: solid 1px white;
}

.btn--rounded:hover {
  /* background-color: rgb(235, 235, 235); */
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .1);
  border: solid 1px var(--clr-gold);
}

.btn--overlay {
   margin: 0;
}

.btn__link {
   color: var(--sh-offblack);
   margin-bottom: 0rem;
}

.btn--rounded .icon {
   display: inline-block;
   height: .9rem;
   stroke: var(--sh-offblack);
   fill: white;
   vertical-align: -20%;
}

.btn--dark {
   /* margin: 0 0 4rem 0; */
   color: var(--clr-gold);
   background-color: var(--clr-blue);
}

.btn--dark:hover {
   background-color: var(--clr-blue);
}

.btn--dark .icon {
   stroke: var(--clr-gold);
   fill: none;
}

.btn--dark a {
   color: var(--clr-gold);
   transition: 400ms all ease-out;
}

.btn--dark a:hover {
   color: white;
   stroke: var(--clr-gold);
}

.btn--gold {
      border: solid 1px var(--clr-gold);
}

.btn--gold:hover {
   background-color: white;

}

.btn--enquiries {
   font-family: var(--ff-ter);
   font-size: .9rem;
   letter-spacing: .13rem;
   padding: .45rem 1.3rem .3rem 1.5rem;
   border-radius: 1.5rem;
}

.btn--footer {
   height: 2.2rem;
}

/* Social Media*/
.btn--smedia {
   position: absolute;
   display: block;
   width: 100%;
   margin: 0 auto;
}

.btn__title {
   position: absolute;
   display: inline-block;
   font-family: var(--ff-pri);
   font-size: .8rem;
   font-weight: 400;
   text-transform: uppercase;
   letter-spacing: .1em;
   color: var(--sh-grey);
   opacity: 1;
   transform: translateX(-50%);
   transition: opacity 0.3s ease-in;
   pointer-events: none;
}

.btn__links {
   font-size: 0;
}

.btn__smedia__link {
   width: 34px;
   text-align: center;
   display: inline-block;
   background-color: var(--sh-offwhite);
   color: var(--sh-grey);
   opacity: 1;
   transition: all 0.3s ease-in;
   margin: 0 -8px;
}

.btn__links .fa {
   opacity: 0;
   transition-delay: 5s;
   transition: all 0.3s ease-in-out;
}

.btn__links:hover .fa {
   font-size: 1rem;
   opacity: 1;
}

.btn__smedia__link:nth-child(1),
.btn__smedia__link:nth-child(4) {
   border-radius: 50%;
}

.btn--smedia:hover .btn__title {
   opacity: 0;
}

.btn--smedia:hover .btn__smedia__link {
   border-radius: 50%;
   margin: 0 .5rem;
   padding: .5rem .4rem 0 .4rem;
   color: var(--sh-grey);
   background:var(--sh-offwhite);
   line-height: 1.2rem;
}




/* Tooltip
----------------------------------*/
.tooltip {
   display: inline-block;
   position: relative;
}

.tooltip__text {
   display: none;
   position: absolute;
   left: 50%;
   transform: translate(-50%, 0);
   font-family: var(--ff-pri);
   font-size: .55rem;
   font-weight: 100;
   letter-spacing: .075rem;
   text-transform: uppercase;
   color: var(--sh-lightgrey);
   background-color: white;
   white-space: nowrap;
   z-index: 10;
}

.tooltip:hover .tooltip__text {
   display: block;
}

.tooltip--icons {
   top: 1.5rem;
   line-height: 1.5rem;
   padding: 0rem .5rem;
}

.tooltip--finishes {
   padding: 0;
   margin: 0;
   height: 1rem;
   bottom: -14px;
   z-index: 20;
}



/* Pop Up
----------------------------------*/
.popup {
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.popup__text {
   z-index: 5;
   visibility: hidden;
   position: absolute;
   min-width: 12rem;
   left:0;
   top: -200px;
   padding: 1rem;
   margin-left: -175%;
   border: solid var(--clr-darkgold) 2px;
   border-radius: .25rem;
   background-color:  white;
}

.popup__text .sub-heading--sm,
.popup__text .text--sm {
  text-align: left;
}

.popup__text .text--sm {
   padding: 0;
}

/* Tiny arrow */
.popup__text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: var(--clr-darkgold) transparent transparent transparent;
}

.show {
  visibility: visible;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}



/* Image
----------------------------------*/
.img--border {
   border: .75rem solid var(--sh-offwhite);
}

.intro-img {
   width: 100%;
   max-width: 20rem;
   margin: auto auto 4rem;
}

.intro-img--md {
   width: 100%;
   max-width: 24rem;
   padding: 0 1rem;
   margin: auto auto 4rem;
}

.intro-img--lg {
   max-width: 26rem;
}



/* Cards
----------------------------------*/
.cards {
   padding: 0 1rem 8rem;
   display: grid;
   grid-row-gap: 4rem;
}

.cards--clients {
   grid-row-gap: 2rem;
}

.cards--downloads .heading {
   margin-bottom: 4rem;
}

.cards .page__heading {
   margin-bottom: 1rem;
}

.card__img__outer {
   background-color: var(--clr-darkblue);
}

.card__img {
   width: 100%;
   margin: 0 auto 2rem;
}

.card__display {
   text-align: center;
   width: 100%;
   min-height: 14rem;
   padding: 4rem;
   margin-bottom: 1rem;
   border: solid .5px var(--clr-gold);
   background-color: var(--sh-offwhite);
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}

.card__img--sm {
   max-width: 12rem;
}

.card__item {
   display: block;
   width: 100%;
   max-width: 22rem;
}

.card__item--sm {
   max-width: 6rem;
}

.card__display--dark {
   background-color: var(--clr-blue);
}

.card__info {
   padding: 0 .25rem;
}

.card__date {
   font-family: var(--ff-pri);
   font-size: 1rem;
   font-weight: 200;
   text-align: center;
   margin-bottom: 1rem;
   color: var(--clr-darkgold);
}

.card__type {
   font-size: 1.4rem;
   letter-spacing: .1em;
   text-align: center;
   line-height: 2rem;
   margin: 1rem;
}

.card__caption {
   line-height: 1.25rem;
   text-align: center;
   width: 100%;
   margin-bottom: 3rem;
}

.card__caption a,
.card__caption p {
   font-size: .7rem;
   font-family: var(--ff-pri);
   font-weight: 400;
   letter-spacing: .15rem;
   text-transform: uppercase;
   color: var(--clr-gold);
   transition: 500ms color ease-out;
}

.card__caption a::after {
   content: '|';
   margin-left: .25rem;
   color: var(--clr-gold);
}

.card__caption a:last-of-type::after {
   content: '';
   display: none;
}

.cards--multiple .card {
   width: 50%;
   margin: 0;
   padding: 0;
}



/* Accordion
----------------------------------*/
#accordion {
	margin-bottom: 2rem;
   padding: 0 .5rem;
}

.accordion__link {
   padding: .9rem .8rem .5rem .8rem;
   border-bottom: 1px solid #cccccc;
   position: relative;
   display: block;
	cursor: pointer;
   transition: all 0.4s ease;
}

.accordion__heading {
   font-family: var(--ff-ter);
   font-size: .8rem;
   line-height: 1.5rem;
   font-weight: 400;
   letter-spacing: .1rem;
   text-transform: uppercase;
   text-align: center;
   color: var(--sh-offblack);
}

.accordion__link li:last-child .accordion__link {
   border-bottom: 0;
}

.accordion__arrow {
   position: absolute;
   width: .8rem;
   top: .85rem;
   right: 0rem;
   transition: transform 0.4s ease;
}

#accordion li.open  .accordion__arrow {
   transform: rotate(180deg);
}

.accordion__sub-link {
   display: none;
   margin: 0;
   padding: .75rem 0;
}

.accordion__sub-link .text-info {
   text-transform: uppercase;
   font-size: .7rem;
   letter-spacing: .08rem;
   margin-top: .5rem;
}

.accordion-fade {
  animation-name: accordion-fade;
  animation-duration: 1s;
}

@keyframes accordion-fade {
  from {opacity: .1}
  to {opacity: 1}
}

.accordion--info .accordion__link {
   padding: 1rem 0 0.75rem 0;
}

.accordion--info .accordion__sub-link {
   padding: 3rem 2rem;
   font-size: 1rem;
   text-align: left;
   background: white;
}

.tab__content .text {
   font-size: .9rem;
   text-align: left;
}

.accordion__link li:first-child .accordion__link {
   border-top: 0;
}



/* Overlay
----------------------------------*/
.overlay__item {
   position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: var(--clr-darkblue);
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}

.overlay__item:hover .overlay {
  opacity: 1;
}



/* Tabs
----------------------------------*/
.tabs--screen-only {
   overflow: hidden;
   margin: 20px 0 0;
   display: none;
}

.tab--screen__list {
   height: 2.5rem;
   padding: 0;
   border-bottom: 1px solid #e1e1e1;
   margin: 0;
   list-style-type: none;
}

.tab--screen__tab {
   position: relative;
   display: inline-block;
   height: 25rem;
   text-transform: uppercase;
   padding: .5rem 2rem;
   margin-right: -4px;
   border-bottom: 1px solid #e1e1e1;
   border-left: 1px solid #e1e1e1;
   border-top: 1px solid #e1e1e1;
   cursor: pointer;
   overflow: hidden;
   transition: all .3s;
   z-index: 5;
}

.tab--screen__tab:hover,
.tab--screen__tab:focus {
   color: var(--sh-grey);
}

.tab--screen__title {
   border-top-left-radius: 20px;
   font-family: var(--ff-pri);
   font-size: .8rem;
   font-weight: 400;
   letter-spacing: .1rem;
   text-transform: uppercase;
   text-decoration: none;
   line-height: 1.5rem;
   padding: 0;
   margin: 0;
   cursor: pointer;
}

.tab--screen__tab.tab-active {
   background: #f7f7f7;
}

.tab--screen__tab:last-child {
   border-right: 1px solid #e1e1e1;
}

.tabs {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.tabs .tab__header {
   z-index: 5;
   position: relative;
   width: 100%;
   text-transform: uppercase;
   border-bottom: 1px solid #e1e1e1;
   cursor: pointer;
   overflow: hidden;
   transition: all .3s;
   background: linear-gradient(to bottom, rgba(0, 0, 0, .04) 5%, rgba(0, 0, 0, 0) 90%) no-repeat;
}

.tabs .tab__header .tab__close {
   top: 10px;
   right: 10px;
   display: none;
}

.tab__title {
   font-family: var(--ff-pri);
   font-size: .9rem;
   font-weight: 400;
   letter-spacing: .1rem;
   text-transform: uppercase;
   text-decoration: none;
   line-height: 1.5rem;
   padding: 14px 20px;
   margin: 0;
}

.tabs .tab-active {
   border-bottom: 1px solid #e1e1e1;
}

.tabs .tab-active .tab__header {
   background: #f7f7f7;
   border-bottom: 1px solid #f7f7f7;
}

.tabs .tab-active .tab__title {
   color: var(--sh-offblack);
}

.tabs .tab-active .tab__header .tab__close {
   display: block;
}

.tab {
   background: #f7f7f7;
   display: none;
   margin-top: -1px;
   padding: 20px;
   position: relative;
   transition: all .3s;
   width: 100%;
}

.tab-active .tab {
   display: block;
   /* border: 1px solid var(--clr-gold); */
}

.tab__close .icon {
   display: block;
   padding: 0;
   margin: 0;
   width: 3rem;
}

.tab__close {
   position: absolute;
   z-index: 10;
   padding: 4px;
   background: inherit;
}

.tab__content {
   position: relative;
   margin: 0 auto;
   max-width: 1000px;
   width: 100%;
}

.tabs--info {
   margin-bottom: 6rem;
}



/* Map
----------------------------------*/
.map__sidenav {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
}

.map__sidenav__inner {
   position: absolute;
   z-index: 1;
   left: 0;
   right: 0;
   max-width: 21rem;
   padding: 1rem 1rem 0 1rem;
   margin: 0 auto;
   overflow: hidden;
   background-color: rgba(243, 243, 243, 1);
}

.map__sidenav__heading {
   display: none;
   color: var(--sh-offblack);
}

.map__search {
   display: flex;
   left: 0;
   top: 0;
   height: 3.5rem;
   width: 100%;
   margin-bottom: 0;
}

.map__search .btn--form {
   margin-left: .5rem;
   border: none;
   padding: 0;
}

.map__search .btn {
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

.map__search .icon--black {
   display: block;
   width: 2rem;
   height: 2rem;
   stroke-width: .9px;
}

.map__search .form__input {
   font-family: var(--ff-pri);
   font-size: .8rem;
   font-weight: 400;
   color: var(--sh-offblack);
   border-bottom: 1px solid black;
}

.map__addresses {
   display: none;
   width: 100%;
   height: 70%;
   overflow: auto;
   background: white;
   padding: 1rem;
}

.map__addresses .text--sm {
   text-align: left;
   padding: 0;
}

.map__addresses .sub-heading--sm {
   text-align: left;
   margin-top: 1rem;
}

.map__address {
   text-align: left;
   margin-bottom: 4rem;
}

.map__addresses .btn {
   padding: .25rem 1rem;
   margin-top: 1rem;
   display: inline-block;
   left: 0;
}

.map__location {
   cursor: pointer;
   position: absolute;
   display: inline-block;
   top: 40%;
   margin: 0 auto;
   width: 48px;
   height: 48px;
}

.icon--location {
   fill: var(--clr-blue);
   stroke: var(--clr-darkgold);
   width: 48px;
   height: 48px;
}

.map__links .link--sm {
   display: block;
   text-align: left;
}



/* Slider
----------------------------------*/
.slider {
   position: relative;
   width: 100%;
   margin: 0 auto;
}

.slider--md {
   max-width: 42rem;
   position: relative;
}

.slider__heading {
   margin-bottom: 6rem;
}

.slider__img {
   width: 100%;
   max-width: 26rem;
   margin: 0 auto 2rem;
}

.slider__text {
   max-width: 62ch;
   margin-bottom: 2rem;
}

.slider__link {
   margin-bottom: 6rem;
}

.mySlides {
  display: none;
  margin-bottom: 1rem;
}

.mySlides .caption {
   margin-top: 3rem;
}

.slider__arrows {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   left: 0;
   width: 100%;
   height: 1rem;
}

.slider__arrows--top {
   top: 5rem;
}

.slider__arrows--bottom {
   bottom: -1px;
   justify-content: space-between;
}

.slider__icon--sm,
.slider__icon--lg {
   fill: none;
   stroke-linecap: round;
   stroke:var(--clr-darkgold);
   stroke-width: .85px;
   margin: 0 .5rem;
   height: 2rem;
}

.slider__icon--sm {
   margin: 1rem;
   width: 26px;
   stroke: var(--sh-offblack);
}

.slider__arrows--bottom .slider__icon--sm {
   margin-top: 0;
}

.slider__icon--lg {
   width: 35px;
}

.slider__icon--lg:hover,
.slider__icon--sm:hover {
   stroke: var(--sh-offblack);
   transition: stroke 500ms ease-in-out;
}

.slider__dots {
   text-align: center;
   position: absolute;
   display: block;
   bottom: 80px;
   left: 0;
   right: 0;
   margin: 0 auto;
   opacity: 1;
}

.slider-dot {
   height: .3rem;
   width: .3rem;
   margin: 0 .25rem;
   background-color: var(--sh-lightgrey);
   border-radius: 50%;
   display: inline-block;
   cursor: pointer;
   transition: background-color 0.6s ease;
}

.slider-dot-active,
.slider-dot:hover {
   background-color: var(--sh-grey);
}

.slider--accordion {
   position: relative;
   padding: 0 2.5rem;
   height: 11rem;
}

.slide--accordion__title {
   font-family: var(--ff-pri);
   font-size: .75rem;
   font-weight: normal;
   font-weight: 400;
   letter-spacing: .1rem;
   text-align: center;
   text-transform: uppercase;
   line-height: 1.5rem;
   margin: .25rem 0 1.5rem 0;
}

.slide--accordion__images {
   width: 100%;
   height: 100%;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: auto;
   grid-column-gap: 1rem;
   grid-row-gap: 1rem;
}

.slide--accordion__2col {
   grid-template-columns: repeat(2, 1fr);
   grid-column-gap: 2rem;
}

.slide--accordion__5col {
   grid-template-columns: repeat(5, 1fr);
   grid-column-gap: .5rem;
   grid-row-gap: .3rem;
}

.slide--accordion__5col--gap {
   grid-template-columns: repeat(5, 1fr);
   grid-column-gap: .5rem;
   grid-row-gap: 1rem;
}

.slide--accordion__img {
   width: 100%;
}

.slider--accordion__bottom  {
   display: none;
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   line-height: 2rem;
   padding: 0;
   margin: 0 auto;
}

.slider--accordion__text  {
   font-size: .6rem;
   font-family: var(--ff-pri);
   font-weight: 400;
   letter-spacing: .075rem;
   color: var(--sh-lightgrey);
   text-transform: uppercase;
   transition: 500ms color ease-out;
}

.slider--accordion__text:hover  {
   color: var(--sh-grey);
}

.slider--accordion-prev,
.slider--accordion-next {
   position: absolute;
   top: 0;
   font-weight: lighter;
   font-size: 16px;
   color: var(--sh-lightgrey);
   cursor: pointer;
}

.slider--accordion-prev {
   left: 0px;
}

.slider--accordion-next {
   right: 0px;
}

.slider--accordion-prev .icon,
.slider--accordion-next .icon {
   width: 1rem;
}

.slider-fade {
  animation-name: slider-fade;
  animation-duration: 1.5s;
}

@keyframes slider-fade {
  from {opacity: .1}
  to {opacity: 1}
}

.slider-img-fade {
  animation-name: slider-img-fade;
  animation-duration: 1.5s;
  animation-delay: 1s;
}

@keyframes slider-img-fade {
  from {opacity: .1}
  to {opacity: 1}
}

.slider-fade--long {
  animation-name: slider-fade--long;
  animation-duration: 3s;
}

@keyframes slider-fade--long {
  from {opacity: 0}
  to {opacity: 1}
}



/* Comparison Slider */

#comparison__slider {
   position: relative;
   width: 100%;
   padding-bottom: 100%;
   overflow: hidden;
}

#comparison__slider__img {
  position: absolute;
  font-size: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url(../assets/products/gallery_img_1.jpg);
  background-size: cover;

}

#divisor {
  background-image: url(../assets/products/gallery_img_2.jpg);
  background-size: cover;
  position: absolute;
  width: 50%;
  /* box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3); */
  bottom: 0;
  height: 100%;
}

#divisor::before,
#divisor::after {
  content: '';
  position: absolute;
  right: -2px;
  width: 4px;
  height: calc(50% - 25px);
  background: white;
  z-index: 3;
}

#divisor::before {
  top: 0;
  /* box-shadow: 0 -3px 8px 1px rgba(0, 0, 0, 0.3); */
}

#divisor::after {
  bottom: 0;
  /* box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.3); */
}

#handle {
  position: absolute;
  height: 10px;
  width: 10px;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  z-index: 1;
}

#handle::before,
#handle::after {
  content: '';
  width: 0;
  height: 0;
  border: 6px inset transparent;
  position: absolute;
  top: 50%;
  margin-top: -6px;
}

#handle::before {
  border-right: 6px solid white;
  left: 50%;
  margin-left: -17px;
}
#handle::after {
  border-left: 6px solid white;
  right: 50%;
  margin-right: -17px;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  top: 50%;
  left: -25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  width: calc(100% + 50px);
  z-index: 2;
}
input[type=range]:focus, input[type=range]:active {
  border: none;
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: transparent;
  border: 4px solid white;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
}

input[type=range]::-moz-range-track {
  -moz-appearance: none;
  height: 15px;
  width: 100%;
  background-color: transparent;
  position: relative;
  outline: none;
}



/* modal
----------------------------------*/
.modal-bg {
  display: none;
  position: fixed;
  z-index: 90;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: auto;
  background-color: var(--clr-blue-9);
  overflow: hidden;
}

.modal--login,
.modal--search {
   position: relative;
   max-width: 26rem;
   margin: 30vh auto;
   border: 1px solid var(--clr-gold);
   background-color: var(--clr-blue);
   animation: animatezoom 0.6s;
}

.modal__close {
   position: absolute;
   padding: .5rem;
   top: 1rem;
   right: 1rem;
   cursor: pointer;
}



/* Forms
----------------------------------*/
.form {
   font-family: var(--ff-ter);
   font-weight: 300;
   letter-spacing: .2em;
   text-transform: uppercase;
}

.form--dark {
   color: var(--clr-gold);
   background-color: var(--clr-blue);
}

.form__label {
   display: block;
   font-size: 1rem;
   font-family: var(--ff-ter);
   letter-spacing: .15em;
   text-transform: uppercase;
   color: var(--clr-gold);
   margin-bottom: .25rem;
}

.form__label span {
   display: block;
}

.form__input {
   font-size: .85rem;
   font-weight: 200;
   letter-spacing: .05em;
   margin-bottom: 2rem;
   width: 100%;
   height: 2.3rem;
   background-color: inherit;
   border: 0px ;
   border-bottom: solid .5px var(--clr-gold);
}

.form__input:last-of-type {
   margin-bottom: 2rem;
}

.form__searchbox {
   width: 100%;
   max-width: 22rem;
   margin: auto;
}

.searchbox {
   max-width: 24rem;
   margin: 0 auto;
}

.form__checkbox__txt {
   display: inline;
   font-family: var(--ff-pri);
   font-size: .8rem;
   letter-spacing: .1rem;
   color: var(--clr-gold);
}


/*
==========================================+
 MEDIA -----------------------------------+
==========================================+
*/

@media screen and (min-width: 500px) {

   .card__caption {
         margin-bottom: 5rem;
      }

   .card__caption p {
         display: inline-block;
         margin-right: .5rem;
      }

   .card__type {
      padding:  0 1.5rem;
   }

   .cards--grid .card,
   .cards--grid .card__caption {
      margin-bottom: 1rem;
   }

   .cards--news {
      padding: 0 2rem;
   }
}



@media screen and (min-width: 565px) {

   #accordion {
      padding: 0;
   }

   .intro-img--md {
      padding: 0;
   }

   .smedia__links a {
      display: inline-block;

   }

   .modal--login,
   .modal--search {
      padding: 3rem 2rem;
   }

   .slider--accordion {
      padding: 0 3rem;
      height: 12rem;
   }

   .slide-1 {
      width: 100%;
      position: relative;
   }
}



@media screen and (min-width: 700px) {

   .tabs--screen-only {
      display: block;
   }

   .tabs .tab__header {
      display: none;
   }

   .tab__content + .tab__close {
      display: none;
   }

   .tabs .tab-active .tab__header {
      background: #f7f7f7;
      border-bottom: 1px solid #e1e1e1;
   }
}


@media screen and (min-width: 767px) {

   .cards--grid {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 1rem;
      grid-column-gap: 2rem;
   }

   .cards--news {
      padding: 0 4rem;
   }

   .card__date {
      text-align: left;
   }

   .cards--grid .card__img {
      height: 18rem;
      margin-bottom: 3rem;
   }

   .cards--grid .card__display {
      height: 18rem;
      margin-bottom: 3rem;
   }

   .cards--grid .card__title {
      text-align: left;
   }

   .cards--grid .card__txt {
      padding: 0;
      margin: 0;
      text-align: left;
   }

   .cards--news .card__img {
      max-height: 26rem;
      object-fit: cover;
   }

   .cards--news .card__display {
      padding: 2rem;
   }

   .slider__heading {
      margin-bottom: 4rem;
   }

   .slide--accordion__images {
      margin-bottom: 1rem;
}
   .slider--accordion-prev,
   .slider--accordion-next {
      margin: 0
   }

   .slider__arrows {
      padding: 0 3rem;
   }

   .slider__arrows--top {
      top: 12rem;
      justify-content: space-between;
   }

   .slider--link {
      margin: 2rem 0 5rem;
   }
}



@media screen and (min-width: 900px) {

   .btn--inline {
      margin-left: .25rem;
   }

   .btn--rounded {
      margin: 1rem 0 3rem;
   }

   .cards--clients {
      grid-row-gap: 4rem;
   }

   .cards--designers .card {
      display: flex;
   }

   .cards--news .card__img {
      max-height: 26rem;
      object-fit: cover;
   }

   .cards--news .card__title {
      margin-right: 3rem;
      min-width: 12rem;
   }

   .cards--news .text {
      text-align: left;
   }

   .card__img {
      width: 100%;
   }

   .card__img--sm {
      width: 12rem;
      height: 12rem;
      margin-top: 4rem;
   }

   .card__news .card__text {
      text-align: center;
      padding: 0;
   }

   .card__info {
      padding: 0;

   }

   .card__title {
      text-align: left;
   }

   .card__text {
      text-align: left;
      padding: 0;
   }

   .card--reverse {
      flex-direction:row-reverse;
   }

   .card--reverse .card__info {
      margin: 0;
      padding: 0;
      margin-right: 3rem;
   }

   .slider__icon--lg {
      width: 45px;
      height: 3rem;
   }

   .smedia__links a {
      display: inline-block;
      margin: 0 1rem;
   }

   .map__sidenav {
      position: absolute;
      left: 0;
      top: 0;
      width: 22rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .map__sidenav__inner {
      height: 80%;
      width: 23rem;
      padding: 2rem;
      margin-left: 4vw;
      overflow: hidden;
      background-color: rgba(243, 243, 243, .8);
   }

   .map__sidenav__heading {
      display: block;
   }

   .map__addresses {
      display: block;
   }

}



@media screen and (min-width: 1100px) {

   .cards {
      grid-row-gap: 4rem;
   }

   .card__type {
      justify-content: space-between;
   }

   .slider--accordion {
      position: relative;
      padding: 0 1.5rem;
      height: 14rem;
   }

   .slider--accordion__bottom {
      display: block;
   }
}

@-webkit-keyframes animatezoom {
   from { -webkit-transform: scale(0)}
   to {webkit-transform: scale(1)}
}

@keyframes animatezoom {
   from { -webkit-transform: scale(0)}
   to {webkit-transform: scale(1)}
}
